<a href="https://colab.research.google.com/github/ratel0307/ML-basic/blob/master/ch_0_3_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 제어문
  - 조건문
  - 반복문

In [ ]:
# 조건문 if - else 구문

In [ ]:
score = 1100
if score >= 1000:
  print('점수',score)
  print('잘했어요!')
else:
  print('조금 더 분발해요!')

점수 1100
잘했어요!

In [ ]:
print(1, 2, 3)

1 2 3

In [ ]:
Fe_score = 60
Yh_score = 80

if Fe_score >= 80 and Yh_score >= 80:
  print('둘 다 합격입니다.')
elif Fe_score >+ 80 or Yh_score >= 80:
  print("한 명만 합격입니다.")
else:
  print("둘 다 불합격입니다.")

한 명만 합격입니다.

In [4]:
# 반복문

array1 = [10, 20, 30, 40, 50]
for i in array1:
  print(i) #리스트 안에서 순서대로 뽑음

10
20
30
40
50

In [5]:
for i in range(10): #range10 == [0,1,2,3,4,5,6,7,8,9]
  print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for idx, ele in enumerate(array1):
  print('{}번째, 원소 {}'.format(idx,ele))
  #enumerate: 이 원소가 몇번째에 있는지 두개변수 창출함
  #format 함수 쓰면 그 앞에 딱 대입되네

0번째, 원소 10
1번째, 원소 20
2번째, 원소 30
3번째, 원소 40
4번째, 원소 50

In [14]:
for idx, ele in enumerate(array1):
  print(idx, '번째', ele,'입니다')

0 번째 10 입니다
1 번째 20 입니다
2 번째 30 입니다
3 번째 40 입니다
4 번째 50 입니다

In [11]:
# 반복문 while

In [16]:
i = 0
while i < 10:
  i += 1
  print(i, '출력합니다')

1 출력합니다
2 출력합니다
3 출력합니다
4 출력합니다
5 출력합니다
6 출력합니다
7 출력합니다
8 출력합니다
9 출력합니다
10 출력합니다